.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background: rgb(109, 36, 138);
  color: white;
  height: 100px;
}
.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}
.header__left > img {
  
  object-fit: contain;
  width: 400px;
  height: 90px;
}
.header__left > h3 {
  font-size: 30px;
  font-weight: 600;
}
.header__user > h5 {
  font-size: 20px;
  font-weight: 600;
}
.header__user {
  display: flex;
  align-items: center;
  flex: 0.25;
  justify-content: flex-end;
  margin-right: 20px;
}


.header__search {
  display: flex;
  align-items: center;
  background-color: #e4dcdc;
  border-radius: 3px;
  padding: 5px;
  width: 40%;
  color: rgb(14, 13, 13);
}
.share_options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
}
.share_social {
  display: flex;
  /* margin-top: 1rem; */
}

.share_icon {
  display: flex;
  margin-left: 0.4rem;
}
.header__search > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 35vw;
}
.header__search > row {
  background-color: transparent;
  border: none;
  text-align: left;
   width: 35%;
}

.header__right {
  flex: 0.3;
  display: flex;
  align-items: flex-end;
}
.header__sideBar__right {
  display: flex;
  flex: 0.8;
  margin-right: 20px;
  margin-left: 20px;
}
.header__sideBar__right > h1 {
  font-size: 20px;
  font-weight: 600;
}
.header > * {
  width: 100%;
}
.header .btn {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: none;
}
.headers .btn:hover {
  opacity: 0.9;
}